*.mp3
*.mp4
*.zip
*.description

downloads/**
!downloads/.gitkeep

.DS_Store

__pycache__/
*.py[cod]
*$py.class

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
